body {
    background-color: whitesmoke !important;
}
header{
    z-index: 2;
}
#menu {
    z-index: 0;
    align-content: center;
    text-align: center;
    color: antiquewhite;
    position: absolute;
    bottom: 0px;
    width: 100%;

    height: auto;

}

.navbar-item {
    font-family: ‘Lucida Console’, Monaco, monospace;
    border-left: 1px solid antiquewhite;
    color: #FFFFFF !important;
}

.navbar-item:hover {
    color: #FFFFFF;
    text-decoration: underline !important;
}

.title {
    font-family: ‘Lucida Console’, Monaco, monospace;
    font-size: 30px;

    color: #FFFFFF;
    margin: 5px;
    padding: 15px;
    border: dashed 2px #FFFFFF !important;
    border-left: 2px dashed #FFFFFF;
    border-right: 2px dashed #FFFFFF;

/ / set animation -webkit-transition: all 0.4 s ease;
    transition: all 0.4s ease;

}
.title:hover{

}

.title.sticky {
    font-size: 25px;
    margin: 5px;
    padding: 5px;
    padding-left: 15px !important;

    border: dashed 2px #FFFFFF !important;
    border-left: 2px dashed #FFFFFF;
    border-right: 2px dashed #FFFFFF;
}

header {
    position: fixed;
    width: 100%;

    height: 80px;


background: #606161; /* fallback for old browsers */
            /*background-size: 800% 800%;*/

    -webkit-animation: gradient-animator 400s ease infinite;
    -moz-animation: gradient-animator 400s ease infinite;
    -o-animation: gradient-animator 400s ease infinite;
    /*animation: gradient-animator 400s ease infinite;*/
    color: #fff;
    font-family: 'PT Sans', sans-serif;

/ / set animation -webkit-transition: all 0.4 s ease;
    transition: all 0.4s ease;
}

header.sticky {
    opacity: 0.87;
    position: fixed;
    height: 50px;
    width: 100%;


background: #606161; /* fallback for old browsers */

    -webkit-animation: gradient-animator 400s ease infinite;
    -moz-animation: gradient-animator 400s ease infinite;
    -o-animation: gradient-animator 400s ease infinite;
    /*animation: gradient-animator 400s ease infinite;*/
}

@-webkit-keyframes gradient-animator {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradient-animator {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes gradient-animator {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradient-animator {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
